$primaryColor: #f5b8a7;

$max-width: 1144px;
$margin-top: 150px;
$padding-left-right: 160px;
$panel-top-height: 550px;
$nav-height: 153px;
$nav-arrow-width: 103px;
$nav-overview-width: 260px;

.project {
  position: absolute;
  background: #fbfbfb;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;

  &-header {
    position: relative;
    max-width: auto;
    // margin: $margin-top auto 0;
    padding: 0 $padding-left-right;
    overflow: hidden;
    background-size: cover;
    max-height: 430px !important;
    height: 430px !important;

    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-title {
    display: block;
    color : #f7f7f7;
    //width: calc(26% + 27.5px);
    font-size: 120px;
    font-weight: normal;
    // font-family: 'KeplerStd-Disp', serif;
    font-family: 'gt_eesti_pro_displayregular', sans-serif;
    text-align: left;
    margin: 70px 0 35px;
    opacity: 0.6;
    white-space: nowrap;
    transform: translateY(-40%);
    position: absolute;
    z-index: -1;

    a {
      display: inline-block;
      margin-left: 22px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  &-info {

    padding: 0 $padding-left-right * 1;

    &-type, &-role, &-agency, &-date {
      font-family: 'gt_eesti_pro_displayregular', sans-serif;
    }

    &-role, &-agency, &-date {
      margin-top: 3px;
    }

    &.project-info {

      .wrapper {
        max-width: $max-width * 1;
        margin: 0 auto;

      }
      background: white;
      padding-top: 70px;
      padding-bottom: 140px;

      h2 {
        margin-top: 0;
      }
    }

    .project-info-groupe {
      text-align: left;
      margin-right: 50px;
    }

    &-row {
      display: flex;
      flex-direction: row;
    }

    &-col-left {
      width: 30%;
      margin-right: 55px;
      margin-top: 45px;
      color: black;
      font-size: 16px;
      font-family: 'gt_eesti_pro_displaylight', sans-serif;
      text-align: left;
      // text-align: right;
      // display: flex;
      line-height: 20px;

      h2 {
        font-size: 32px;
      }
    }

    &-col-right {
      width: calc(70% - 55px);
      font-size: 16px;
      color: #868686;
      text-align: left;
      font-family: 'gt_eesti_pro_displaylight', sans-serif;
      line-height: 30px;
      white-space: pre-line;
    }
  }
  &-panel-baniere {
    height: $panel-top-height;
    background-size: cover;
  }

  &-panel-top {
    position: relative;
    background-color: white;
    width: 100%;

    // margin: 140px 0 210px;
    margin: 0px 0 0px;

    .mobile & {
        margin: 0px 0 100px;
    }

    &.height {
      height: $panel-top-height;
    }

    &-background, &-foreground {
      //position: absolute;
     // top: 0;
     // left: 0;
      //right: 0;
     // bottom: 0;
      width: 100%;
      min-height: 600px;
      height: 100%;
    }

    &-background {
      overflow: hidden;

      img {
        position: absolute;
        display: block;
        width: auto;
        height: 100%;
      }

      &-cover {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    &-foreground {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
       position: relative;
       top: -130px;
       left: 0;
        max-height: 750px;
        width: auto;
      }
    }
  }
  &-panel-mobile {
    max-width: $max-width;
    margin: 200px auto;
    display: flex;

    &.inline {
      margin: 0px auto 0;
      padding: 150px 20px;

      .item{
        width: 16.6666667;
        padding: 10px;

        &:nth-child(odd){
          transform : translateY(0%);
        }

        &:nth-child(even){
          transform : translateY(0%);
        }

        img {
          max-width: 100%;
        }
      }
    }

    .item{
      width: 16.6666667;
      padding: 10px;

      &:nth-child(odd){
        transform : translateY(25%);
      }

      &:nth-child(even){
        transform : translateY(-25%);
      }

      img {
        max-width: 100%;
      }
    }
  }
  &-panel-center {
     .wrapper {
       max-width: $max-width;
       margin: 0px auto 0px;
    }
    //margin: 210px auto;
    background-color: white;
    padding: 100px $padding-left-right;
  }

  &-panel-bottom {
    position: relative;
    width: 100%;
    margin: 0px auto 0;

    .container {
      max-width: 800px;
      padding-left: 0;
      padding-right: 0;
    }
    > div {
      max-width: $max-width;
      padding: 130px $padding-left-right;
    }
  }

  &-nav {
    position: relative;
    width: 100vw;
    height: $nav-height;
    overflow: hidden;
    background: white;

    a {
      display: block;
      width: 50vw;
      height: auto;
      color: $primaryColor;

      > div {
        overflow: hidden;

        * {
          pointer-events: none;
        }
      }
    }

    &-text {
      font-size: 18px;
      font-family: 'gt_eesti_pro_displaylight', sans-serif;

      .arrow {
        display: inline-block;
        width: $nav-arrow-width;
        height: auto;
        vertical-align: bottom;
      }
    }

    &-title {
      margin: 15px 0 0;
      // position: absolute;
      font-size: 40px;
      font-weight: normal;
      font-family: 'KeplerStd-Disp', serif;
      display: block;
      white-space: nowrap;
    }

    &-overview {
      position: absolute;
      top: 0;
      width: 50vw;
      height: $nav-height;
      max-height: $nav-height * 0.8;
      overflow: hidden;
      opacity: 0;
      transform: translateY($nav-height);
      z-index: -1;

      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate3D(-50%, -50%, 0);
      }
    }

    &-previous &-title {
      transform: translateX(115px);
    }

    &-previous &-overview {
      left: 0;
    }


    &-previous {
      position: absolute;
      left: 0;
      text-align: left;
      transition: all 0.4s ease-in-out;

      > div {
        margin: 40px 0 0 $padding-left-right;
      }

      .arrow {
        margin-right: 10px;
        transform-origin: center;
        transform: scaleX(-1);
      }
    }

    &-next &-overview {
      right: 0;
      text-align: right;

    }

    &-next &-title {
      transform: translateX(-115px);
      // transform: translateX(-161px);
      width: 100%;
    }

    &-next {
      position: absolute;
      right: 0;
      text-align: right;

      > div {
        margin: 40px $padding-left-right 0 0;
      }

      .arrow {
        margin-left: 10px;
      }
    }
  }
}

.no-margin-bottom {
  > div {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .project {
    &-header {
      padding: 0 $padding-left-right * 0.5;
    }

    &-info {
      padding: 0 $padding-left-right * 1.25 ;
    }

    &-panel-top {
      height: $panel-top-height * 0.70;
    }

    &-panel-center {
      padding: 0 $padding-left-right * 0.5;
    }

    &-panel-bottom {
      padding: 130px ($padding-left-right * 0.5);
    }


    &-nav {
      &-previous {
        > div {
          margin: 40px 0 0 ($padding-left-right/2);
        }
      }
      &-next {
        > div {
          margin: 40px ($padding-left-right/2) 0 0;
        }
      }
    }
  }
}
