$primaryColor: #f5b8a7;

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

a {
  color: $primaryColor;
}

.about {
  max-width: 962px;
  margin: auto;
  opacity: 0;

  h3 {
    font-family: 'KeplerStd-Disp', serif;
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 50px;
  }

  p {
    font-family: 'gt_eesti_pro_displaylight', sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 26px 0;
  }

  sup {
    font-size: 22px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
  }

  &-col-left {
    width: 60%;
    margin-right: 105px;
    text-align: left;
  }

  &-col-right {
    width: calc(40% - 105px);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.thanks {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  max-width: 962px;
  width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  font-family: 'gt_eesti_pro_displaylight', sans-serif;
  text-align: left;
  color: #000000;
  opacity: 0;
}

.close {
  position: absolute;
  top: 40px;
  right: 75px;
  opacity: 0;
  cursor: pointer;

  span {
    font-family: 'gt_eesti_pro_displaylight', sans-serif;
    color: #000000;
  }
}

#app.mobile-device {
  .about {
    h3 {
      font-size: 24px;
    }

    sup {
      font-size: 12px;
    }

    &-col-left {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      p {
        &:first-of-type, &:last-of-type {
          display: none;
        }
      }
    }

    &-col-right {
      display: none;
    }
  }

  .close, .thanks {
    display: none;
  }
}
