$primaryColor: #f5b8a7;
#about {
  width: 100%;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

a {
  color: $primaryColor;
}

.about {
  // max-width: 962px;
  margin: auto;
  opacity: 0;

  * {
    box-sizing: border-box;
  }

  h3 {
    font-family: 'KeplerStd-Disp', serif;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 50px;
  }

  .about-content {
    max-width: 435px;
  }

  .mainTitle {
    font-size: 94px;
    margin-top: 40vh;
    font-family: 'gt_eesti_pro_displaylight', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'KeplerStd-Disp', serif;
    // font-family: 'gt_eesti_pro_displaylight', sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin: 26px 0;
  }

  sup {
    font-size: 22px;
  }

  .fixed-row {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: black;
    color: white;
  }

  &-row {
    display: flex;
    flex-direction: row;
    padding: 0 0px;
    height: 100vh;
  }

  .flex-center {
    display: flex;
    height: 100%;
    // align-items: center;
  }

  .flex-end {
    justify-content: flex-end;
  }

  &-col-right {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 100vh;
    overflow: hidden;

    &.headCanScroll {
      overflow-y: auto;
    }

    &.abso {
      position: absolute;
      padding-bottom: 100px;
      padding-left: 0;

      .flex-center {
          padding-left: calc(50% + 50px);
          padding-bottom: 100px;
      }
    }
  }

  &-col-right-safe {
    width: 50%;

    flex: 0 0 50%;
    // width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }

  &-col-left {
    width: 50%;
    flex: 0 0 50%;
    padding-right: 100px;
    padding-left: 50px;


    img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 1;
      max-width: 350px;
      margin-top: 60px;
    }
  }
}

.thanks {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  max-width: 962px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  font-family: 'gt_eesti_pro_displaylight', sans-serif;
  text-align: left;
  color: #000000;
  opacity: 0;
}

.close {
  position: absolute;
  top: 40px;
  right: 75px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;

  span {
    font-family: 'gt_eesti_pro_displaylight', sans-serif;
    color: white;
  }
}

#app.mobile-device {
  .about {
    h3 {
      font-size: 24px;
      margin-top: 40px;
    }

    .mainTitle {
      font-size: 50px;
      margin-top: 100px;
      margin-bottom: 0px;
    }

    sup {
      font-size: 12px;
    }

    &-col-left {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      p {
        &:first-of-type, &:last-of-type {
          display: none;
        }
      }
    }

    &-col-left {
      display: none;

      &-safe {
        display: flex;
      }
    }

    &-col-right.abso {
      padding: 0;
      height: auto;
      position: static;

      .flex-center {
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 100px;
      }

      .social {
        position: static;
        padding-left: 40px;

      }
    }
  }

  .about-col-right-safe {
    width: 100%;
    flex: 0 0 100%;
  }

  .close {
    display: none;
  }
}


.social {
  height: 90vh;
  width: 100%;
  position: absolute;
  background: white;
  top: 120%;
  min-height: 611px;

  .about-col-left-safe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    padding-right: 100px;
    text-align: left;

  }

  .social-link {
    width: 350px;
  }

  .social-network {
    display: flex;
    flex-direction: column;

    h3 {
      font-family: 'gt_eesti_pro_displaylight', sans-serif;
      font-weight: bold;
      font-size: 50px;

      #app.mobile-device & {
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}
