<div id="social-network">
  <a class="show-on-mobile animated-link" href="mailto:taveneaupauline@gmail.com" target="_blank">
    <img src="/static/images/icons/mail.svg" alt="Mail">
  </a>
  <a class="animated-link" href="https://fr.linkedin.com/in/pauline-taveneau-202566a4" target="_blank">
    <img src="/static/images/icons/linkedin.svg" alt="Linkedin">
  </a>
  <a class="animated-link" href="https://www.behance.net/TaveneauPauline" target="_blank">
    <img src="/static/images/icons/behance.svg" alt="Behance">
  </a>
  <a class="animated-link" href="https://dribbble.com/PaulineTvn" target="_blank">
    <img src="/static/images/icons/dribbble.svg" alt="Dribbble">
  </a>
  <a class="animated-link" href="https://twitter.com/PaulineTaveneau" target="_blank">
    <img src="/static/images/icons/twitter.svg" alt="Twitter">
  </a>
</div>
